@import '~bootstrap/dist/css/bootstrap.css';
@import '~angular-ui-bootstrap/dist/ui-bootstrap-csp.css';

.margin-top-5 {
    margin-top: 5px;
}

.margin-left-60 {
    margin-left: 60px;
}

.main {
    width: 70%;
    margin: 0 auto;
    font-family: STFangsong;
}

.header {
    .logo {
        width: 149px;
        height: 45px;
    }

    .lang {
        font-size: 16px;
        margin-top: 15px;
        text-decoration: underline;
    }

    .header-image {
        margin-top: 5px;
        width: 100%;
        height: 100%;
    }
}

.first-level {
    font-weight: 900;
    width: 140px;
}

.last {
    a {
        text-decoration: underline;
        margin-left: 50px;
    }
}

.second-level {
    display: none;
    position: absolute;
    width: 140px;
    left: 0;
    top: 50px;
    border: 1px solid #cfcfcf;
    background: #fff;
    padding: 5px 0 0 0;
    z-index: 999;
    line-height: 28px;
    font-size: 14px;
    a {
        color: #777;
    }
}

.second-div {
    height: 28px;
    line-height: 28px;
    position: relative;
    background: #f6f6f6;
}

.home {
    overflow: auto;
}

.group-news {
    width: 70%;
    float: left;
}

.news {
    border-bottom: 1px dotted #0083de;
    margin-bottom: 15px;
    padding-bottom: 5px;
    overflow: auto;
    clear: both;
    .article_area_l {
        width: 90px;
        float: left;
        text-align: left;
    }
    .article_area_r {
        a {
            color: #777;
        }
        width: 89%; // float: right;
    }
    .ttl {
        text-decoration: none;
        font-size: 14px;
        color: #0083de;
        font-weight: bold;
        padding-bottom: 5px;
    }
}

.home-product {
    margin-right: 10px;
    float: right;
}

.news-detail {
    width: 550px;
    margin: 0 auto;
    .p-text-indent {
        text-indent: 35px;
    }
    .center-image {
        float: left;
    }
    .article_area_l {
        width: 400px;
        float: left;
        line-height: 130%;
    }
    .article_area_r {
        width: 278px;
        float: right;
        line-height: 130%;
    }
}

.product-detail {
    width: 600px;
    margin: 0 auto;
    .p-text-indent {
        text-indent: 35px;
    }
}

.footer {
    position: absolute;
    width: 70%;
    margin-top: 60px;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #99979c;
    text-align: left;
    background-color: #2a2730; // float: bottom;
    // margin-bottom: 10px;
    .info {
        margin-top: 10px;
        margin-left: 20px;
        color: white;
        .footer-links {
            padding-left: 0;
            li {
                display: inline-block;
                &+li {
                    margin-left: 15px;
                }
                a {
                    color: white;
                }
            }
        }
        .suggested {
            color: #ccc;
            a {
                color: #ccc;
            }
        }
    }
}

.us-brief {
    .company-image {
        float: left;
    }
    p {
        color: #777;
        text-indent: 35px;
        font-size: 14px;
    }
}

.chairman-message {
    .chairman-image {
        margin-right: 15px;
        float: left;
        p {
            text-indent: 0px;
        }
    }
    .note {
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
    }
    p {
        color: #777;
        text-indent: 35px;
        font-size: 14px;
    }
}

.history {
    .background1 {
        text-indent: 35px;
        background: #FDF5E6;
        padding-bottom: 1px;

        p:first-child {
            padding-top: 15px
        }
    }
    .background2 {
        text-indent: 35px;
        background: #FAFAD2;
        padding-bottom: 5px;

        p:first-child {
            padding-top: 15px
        }
    }
    .img1950 {
        position: relative;
        float: right;
        margin-right: 15%;
        margin-top: 5px;
        height: 151px;
        width: 64px;
    }
    .img1970-1 {
        position: relative;
        float: right;
        margin-top: 20px;
        height: 136px;
        width: 107px;
    }
    .img1970-2 {
        position: relative;
        float: right;
        margin-top: 20px;
        height: 136px;
        width: 111px;
    }
    .img1970-3 {
        position: relative;
        float: right;
        margin-right: 5%;
        margin-top: 20px;
        height: 136px;
        width: 63px;
    }
    .img1990-1 {
        position: relative;
        float: right;
        margin-top: -20px;
        margin-right: 10%;
        height: 105px;
        width: 83px;
    }
    .img1990-2 {
        position: relative;
        float: right;
        margin-right: 10%;
        height: 81px;
        width: 134px;
    }
    .img1990-3 {
        position: relative;
        float: right;
        margin-right: 10%;
        height: 112px;
        width: 162;
    }
    .img2000 {
        position: relative;
        float: right;
        margin-right: 5%;
        margin-top: 20px;
        width: 220px;
        height: 220px;
    }
}

.partner {
    img {
        width: 70%;
    }
}

.team {
    p {
        text-indent: 15%;
    }
    .email {
        color: #0083de;
    }
    img {
        width: 70%;
    }
}